/* General form colours & layout */

.formio .alt {
	background: #E8F3FF;
}

.formio label {
	margin:0.3em 0;
	float: left;
	width: 24%;
	margin-right: 1%;
}

.formio div.blck .row { margin: 0 0 0 25%; padding: 0.5em 0 0 0; }

.formio div.group .row label { left: 1%; }

.formio div.blck input { display: inline; width: 93%; }

.formio div.blck .pad { width: 25%; float: left; }

.formio fieldset {
	border: 1px solid #ddd;
}

.formio input, .formio div.readonly {
	width:70%;
	padding:0.15em;
}

.formio input, .formio textarea, .formio select {
	display:block;
	border:1px solid #bbb;
	padding:0.15em;
	margin-right:1em;
}

.formio textarea, .formio select {
	width: 50%;
}

.formio .multiple {
	padding: 0 0.25em 0 0.25em;
	margin-bottom: 0;
}

.formio .multiple label, .formio .multiple input {
	display:inline;
}

.formio .multiple input {
	margin:0 0.3em 0 0;
}

.formio .multiple label {
	overflow:hidden;
	white-space: nowrap;
	padding: 0 0 0 1%;
	margin: 0 3% 0.5em 0;
	width: 96%;
}
.formio .multiple.col2 label { width:46%; }
.formio .multiple.col3 label { width:29%; }
.formio .multiple.col4 label { width:21%; }
.formio .multiple.col5 label { width:16%; }

.formio .multiple legend {
	padding: 0.5em 0.25em 0.5em 0;
	margin-left: -0.25em;								/* IE only (see overrides at bottom) */
}

/* Type-specific */

.formio .checkbox label.checkbox { font-weight: bold; }

.formio .daterange input, .formio .datetime input, .formio .datetime select {
	width: auto !important;
	display: inline;
	margin: 0;
}

.formio input.date {
	width: 7em !important;
}

.formio input.time {
	text-align: right;
	width: 5em !important;
}

.formio .currency input, .formio .datetime input {
	padding-right: 0.15em;
}

/* Tokenised multivalue autocomplete */

.formio ul.token-input-list, .formio li.token-input-input-token {
	border: 1px solid #dfdfdf;
	color: #333;
}

.formio li.token-input-token {
	background-color: #C2E0FF;
}

.formio li.token-input-token span {
	color: #333;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: #C2E0FF;
}

/* Button */

.formio button, .formio input[type=submit], .formio input[type=reset], .formio input[type=button] {
	margin:0.3em 0;
	border:1px solid #ccc;
	background-color:#eee;
	padding:0.5em;
	width: auto;
	display: inline;
}

.formio button:hover, .formio input[type=submit]:hover, .formio input[type=reset]:hover, .formio input[type=button]:hover {
	background-color:#C2D6EF;
	border:1px solid #000;
	color:#000;
}

.formio button:active, .formio input[type=submit]:active, .formio input[type=reset]:active, .formio input[type=button]:active {
	background-color:#333;
	color:white;
	border:1px solid #000;
}

/* information */

.formio .required {
	color:#ff3838;
	position: absolute;
	left: -0.75em;
	top: -0.5em;
}

.formio .err, .formio .errSummary {
	color:#DF4545;
}

.formio li.sectionErrors { border-color: #E8AEAE; }
.formio li.sectionErrors a {	color: #A82626; }
.formio div.tabNav { float: right; }

.formio p.hint {
	color: #5F5F5F;
}

.formio p.hint, .formio p.err {
	margin: 0 0 0 25%;
}


/* Browser-specific style overrides (by which I mean hacks) */

@-moz-document url-prefix() {							/* Gecko overrides */
	.formio .multiple legend {
		margin-left: 0.25em;
	}
	.formio fieldset legend {
		padding: 0 0.25em;
	}
	.formio .currency span {
		line-height:1.2em;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {	/* Webkit overrides */
	.formio .multiple legend {
		margin-left: 0.25em;
	}
	.formio fieldset legend {
		padding: 0 0.25em;
	}
	.formio .currency span {
		line-height:1.5em;
	}
}
