/* General form colours & layout */

.formio .alt {
	background: #F4FAFF;
}

.formio label {
	clear: right;
}

.formio input, .formio textarea, .formio select {
	border: 1px solid #dfdfdf;
	width: 80%;
	display: block;
}

.formio select { width: auto; }

.formio button, .formio input[type=submit], .formio input[type=reset], .formio input[type=button],
.formio input[type=checkbox], .formio input[type=radio],
.formio input[type=password],
.formio .daterange input,
.formio .datetime input,
.formio .daterange select,
.formio .datetime select,
.formio .pwdchange input {
	display: inline;
	width: auto;
}

.formio fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.formio fieldset legend {
	padding: 0 0.5em;
}

/* Type-specific */

.formio span.currency { display: block; }

.formio div.readonly { color: #999; }

/* Tokenised multivalue autocomplete */
.formio ul.token-input-list {
	border: 1px solid #dfdfdf;
	color: #333;
}

.formio li.token-input-token {
	background-color: #F4FAFF;
}

.formio li.token-input-token span {
	color: #333;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: #F4FAFF;
}

/* buttons */
.formio button:hover, .formio input[type=submit]:hover, .formio input[type=reset]:hover, .formio input[type=button]:hover {
	background-color:#F4FAFF;
	border:1px solid #000;
	color:#000;
}

.formio button:active, .formio input[type=submit]:active, .formio input[type=reset]:active, .formio input[type=button]:active {
	background-color: #004D8A;
	color: white;
	border: 1px solid #000;
}

/* information */

.formio .required {
	color: #B00000;
}

.formio .err, .formio .errSummary {
	color: #B00000;
}

.formio li.sectionErrors { border-color: #E8AEAE; }
.formio li.sectionErrors a { color: #B00000; }

.formio p.hint {
	color: #666666;
    font-style: italic;
    margin: 0.2em 0 0;
}
